<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <a th:href="@{map}">가자</a>

  <a th:href="@{join}">회원 가입</a>

  <div sec:authorize="hasAnyRole('USER', 'ADMIN') or hasAnyAuthority('USER', 'ADMIN')">
    <a th:href="logout">로그아웃</a>
  </div>
  <div sec:authorize="!isAuthenticated() or hasAuthority('REGISTER_USER')">
    <a th:href="@{login}">입장합니다</a>
  </div>
  <a th:href="@{charge}">충전하기</a>
  <div>
    <a th:href="@{writeForm}">글을써보십시오</a>
  </div>
</div>
</html>