/* global.css */
@font-face {
  font-family: 'font';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'font', sans-serif;
}
