@font-face {
  font-family: 'font';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.menu-a {
  color: black;
  font-size: 22px;
  font-family: 'font', sans-serif;
}
.menu-a:hover{
    color:#5bc27e;
}

.adminPage {
  display: none;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.show-modal {
  opacity: 1;
  visibility: visible;
}

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

ul.list::after {
  content: "";
  display: block;
  clear: both;
}

.nav-link {
  font-family: 'font';
}

.headerArea {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

form#login-form {
  background: #fff;
  width: 40em;
  margin: 8em auto;
  overflow: hidden;
  position: relative;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-box-shadow: 0 0 0.2em #000;
  -webkit-box-shadow: 0 0 0.2em #000;
  box-shadow: 0 0 0.2em #000;
}

form#login-form div.heading {
  background: #5bc27e;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.5em;
  font-size: 1.1em;
}

form#login-form div.left {
  width: 45%;
  float: left;
  padding: 1.7em 1.5em 2.5em 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form#login-form div.right {
  width: 45%;
  float: right;
  padding: 1.7em 1.5em 2.5em 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form#login-form:before,
form#login-form:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

form#login-form:before {
  content: "or";
  color: gray;
  height: 0.5em;
  width: 0.5em;
  top: 5.75em;
}

form#login-form:after {
  content: "";
  background: rgba(128, 128, 128, 0.3);
  height: 4em;
  width: 0.12em;
  top: -2em;
  left: 0.5em;
  z-index: 900;
  -moz-box-shadow: 0 9.6em 0 0 rgba(128, 128, 128, 0.3);
  -webkit-box-shadow: 0 9.6em 0 0 rgba(128, 128, 128, 0.3);
  box-shadow: 0 9.6em 0 0 rgba(128, 128, 128, 0.3);
}

div.left label {
  display: inline-block;
  color: gray;
  font-size: 1.1em;
  margin-top: 0.6em;
}

div.left input[type="email"],
div.left input[type="password"] {
  border: 0.1em solid #dfdfdf;
  padding: 1em;
  margin: 0 0 1em 0;
  max-width: 85.5%;
  height: 30px;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  -webkit-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

div.left input[type="email"]:focus,
div.left input[type="password"]:focus {
  outline: none;
  border: 0.1em solid #919191;
}

div.left input[type="submit"] {
  background: #f85f64;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  padding: 1.2em;
  overflow: hidden;
  border: none;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
  font-weight: bold;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

div.left input[type="submit"]:hover {
  background: rgba(248, 95, 100, 0.8);
}

div.right div.connect {
  color: gray;
  font-size: 1.1em;
  text-align: center;
}

div.right a {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  width: 9em;
  clear: both;
  text-align: center;
  margin: 0.5em 0.1em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

/*.btn {
  background: #5bc27e;
  border: 1px solid aqua;
}

.btn:hover {
  background-color: #438e5d;
}*/

.headerArea {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: relative;
  width: 100%;
  z-index: 10;
}

.menu-a {
  color: black;
  font-size: 22px;
  font-family: "font", sans-serif;
}

.adminPage {
  display: none;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.show-modal {
  opacity: 1;
  visibility: visible;
}

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

ul.list::after {
  content: "";
  display: block;
  clear: both;
}

.nav-link {
  font-family: "font";
}

.naver {
  position: relative;
  transition: opacity 0.5s;
}

.naver img {
  transition: opacity 0.5s;
}

.naver:hover img {
  opacity: 0;
}

.naver:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 50px;
  margin-left: 13px;
  background-image: url("../../../resources/static/image/kakao_hover.jpg");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
  box-shadow: 0px 0px 15px #953b43;
}

.naver:hover::after {
  opacity: 1;
}

.kakao {
  position: relative;
  transition: opacity 0.5s;
}

.kakao img {
  transition: opacity 0.5s;
}

.kakao:hover img {
  opacity: 0;
}

.kakao:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 50px;
  margin-left: 13px;
  background-image: url("../../../resources/static/image/kakao_hover.jpg");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
  box-shadow: 0px 0px 15px #953b43;
}

.kakao:hover::after {
  opacity: 1;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  padding: 40px;
}

.footer {
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer span {
  color: #999;
}

