.custom-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}

.custom-button-text {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.areaButton{
    width:100%;
    height: 3rem;
        text-align: center;
        border: 1px solid rgb(195, 194, 204);
        border-radius: 5px;
        margin-right: 1rem;
        border-radius: 2px;
}

.addressResults-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 400px; /* Set the desired maximum height */
  overflow-y: auto;

}

.modal-body {
  overflow-y: auto;
}

.address-link {
  text-decoration: none;
  color: black;
}